.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

body {
  cursor: url('src/components/img/bb8_cursor.png'), auto;
  font-family: 'Lobster Two', arial, serif;
}

h4, h3, small, .blockquote, .bulletPoints {
  color: white;
}

.sebm-google-map-container {
  height: 300px;
}

.navbar-brand {
  color: white;
}

.background-image-home {
  background-image: url('src/components/img/Star_Wars_copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: auto;
  min-width: 300px;
}

.background-image-venue {
  background-image: url('src/components/img/cockpit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: auto;
  min-width: 300px;
}

span {
  font-size: 250%;
}

h1, h3 {
  text-align: center;
}

.carousel
{
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

.carousel-img
{
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

.navbar-toggle {
  background-color: gray;
}

.icon-bar {
  background-color: black;
}

.pageHeader {
  background-color: rgba(167, 255, 0, 0.28);
  color: #ffe50c;
  font-size: 180%;
  color: white;
  text-align: center;
}

p {
  color: white;
}

/* CSS for the ticker*/
.ticker {
  left: 40px;
  right: 10px;
  padding-top: 10px;
  overflow: hidden;
  background-color: rgba(167, 255, 0, 0);
}

.ticker p {
  position: relative;
  white-space: nowrap;
  color: white;
  font-size: 80%;
}

.contact-details {
  font-size: 120%;
}

.carousel-caption p {
  color: yellow;
}

.footer {
  text-align: center;
}

.contactUSFont p {
  color:  #ffd672;
  font-size: 120%;
}

.venueEventsFont p {
  color:  #ffd672;
}

@media only screen and (min-width: 768px) {
  .navbar-nav > li > a {
    color: white;
    font-size: 120%;
  }
  .navbar-nav > li > a:hover {
    background-color: green;
  }
  .navbar-nav > li > a:visited {
    background-color: green;
  }
  .yoda {
    width: 64px;
    height: 64px;
  }
  .map-sizing {
    margin-top: 50px;
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .video-container {
    padding-top: 10px;
    padding-left: 15%;
    overflow: hidden;
  }
  video {
    object-fit: initial;
    width: 85%;
    height: 450px;
  }
  .contactSection {
    height: 440px;
  }
  .footer {
    height: 180px;
  }
  .carousel-caption p {
    font-size: 120%;
  }
  .ourStoryText p {
    font-size: 125%;
    color: #ffd672;
  }
  .pageHeader p {
    color: #dcc618;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-nav > li > a {
    color: white;
    font-size: 120%;
  }
  .yoda {
    width: 48px;
    height: 48px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
  }
  .video-container video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .footer {
    height: 275px;
  }
  .footerFontSize {
    font-size: 80%;
  }
  .pageHeader p {
    color: #dcc618;
    font-size: 80%
  }
  .ourStoryText p{
    font-size: 110%;
    color: #ffd672;
  }
  .ticker p {
    font-size: 60%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    height: 400px;
  }
}
