.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

body {
   cursor: url('src/components/img/bb8_cursor.png'), auto;
   font-family: 'Lobster Two', arial, serif;
}

h4, small, .blockquote {
  color: white;
}

.sebm-google-map-container {
  height: 300px;
}

.navbar-brand {
  color: white;
}

.background-image-home {
  background-image: url('src/components/img/Star_Wars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: auto;
  min-width: 300px;
}

.background-image-venue {
  background-image: url('src/components/img/cockpit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: auto;
  min-width: 300px;
}

span {
  font-size: 250%;
}

h1, h3 {
  text-align: center;
}

.carousel-img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.navbar-toggle {
  background-color: gray;
}

.icon-bar {
  background-color: black;
}

.pageHeader {
  background-color: rgba(167, 255, 0, 0.28);
  color:  powderblue;
}

.pageHeader {
  font-size: 180%;
  color: white;
  text-align: center;
}

p {
  color: white;
}

.yoda {
  width: 64px;
  height: 64px;
}

/* CSS for the ticker*/
.ticker {
  left: 40px;
  right: 10px;
  padding-top: 10px;
  overflow: hidden;
  background-color: rgba(167, 255, 0, 0);
}

.ticker p {
  position: relative;
  white-space: nowrap;
  color: white;
  font-size: 80%;
}

.contact-details {
  font-size: 120%;
}

.footer {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navbar-nav > li > a {
    color: #747494;
    font-size: 120%;
  }
  .map-sizing {
    margin-top: 50px;
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 75px;
      height: 0;
      overflow: hidden;
  }
  .video-container video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 70%;
  }
  .contactSection {
    height: 240px;
  }
  .footer {
    height: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-nav > li > a {
    color: white;
    font-size: 120%;
  }
  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
  }
  .video-container video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .footer {
    height: 275px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    height: 400px;
  }
}
