.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

h4, small {
  color: white;
}

.background-image {
  background-image: url('src/components/img/Star_Wars.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

span {
  font-size: 250%;
}

h1 {
  text-align: center;
}

img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.navbar-toggle {
  background-color: gray;
}

.icon-bar {
  background-color: black;
}


