<div class="row">
  <div id="theCarousel" class="carousel slide container-fluid col-md-6" data-interval="3000" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#theCarousel" data-slide-to="1"></li>
      <li data-target="#theCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <div class="slide1"></div>
        <img src="img/IMG_01.png" alt="First">
        <div class="carousel-caption">
          <h1>Santa's Blessings</h1>
          <p>Somewhere very cold!!</p>
          <!--<p><a href="#" class="btn btn-primary btn-sm">Get them Now</a></p>-->
        </div>
      </div>

      <div class="item">
        <div class="slide2"></div>
        <img src="img/IMG_02.png" alt="Second">
        <div class="carousel-caption">
          <h1>Free Spirit!!</h1>
          <p>Every joy you can imagine</p>
        </div>
      </div>

      <div class="item">
        <div class="slide3"></div>
        <img src="img/IMG_03.png" alt="Third">
        <div class="carousel-caption">
          <h1>Trusting Gaze</h1>
          <p>Natural partners in crime</p>
        </div>
      </div>

    </div>

    <a class="left carousel-control" href="#theCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#theCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="container-fluid col-md-6">
    <h1>HOME CONTENT HERE....</h1>
    <p>Their Story ... She LOVES SRK and He hates her. OMG!! How could these two ever get together? Well, here is how - it is the ONLY major thing that they disagree on and they are virtually the same people otherwise. Both disagree with the idea of marriage (and finally agreed only for their parents), both love or wish to travel the world, 'Tension Nako' is their motto, they can never ever stop eating chicken. Their dads share the same sunsign, their bdays fall in the same month, they went to the same school in Mumbai - the right question should be - How are these two never get together?</p>
</div>
</div>
