<div>
  <div class="col-md-4">
    <h4><u>RSVP Details</u></h4>
    <p>
      The <i>Vermas</i> and the <i>Shrivastavs</i> hope to have you grace them with your presence at the wedding. <br />
      CLICK <button class="btn btn-default"><a href="https://www.facebook.com/events/111809079350535/"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></button> to <strong><i>RSVP</i></strong> on Facebook<br />
    </p>
    <br />
  </div>
  <div class="col-md-4">
    <h4><u>Contact Details</u></h4>
    <p>
      <strong>Name: {{ firstContact.name }}</strong><br /><strong>Email: </strong>{{ firstContact.email }}<br /><strong>Phone: </strong>{{ firstContact.phone }}<br /><br />
      <strong>Name: {{ secondContact.name }}</strong><br /><strong>Email: </strong>{{ secondContact.email }}<br /><strong>Phone: </strong>{{ secondContact.phone }}<br /><br />
      <strong>Name: {{ thirdContact.name }}</strong><br /><strong>Email: </strong>{{ thirdContact.email }}<br /><strong>Phone: </strong>{{ thirdContact.phone }}
    </p>
    <br />
  </div>
  <div class="col-md-4">
    <h4><u>About the Families</u></h4>
    <p>
      The bride <i>Aprajita Shrivastav</i>, currently based in San Francisco, USA is the daughter or Mr. Kedar Prasad and Mrs. Rita Prasad (both based in Mumbai) and brother of Mr. Nachiket Shrivastav
    </p>
    <p>
      The groom <i>Rahul Verma</i>, also currently based in San Francisco, USA is the son of Mr. Yogendra Prasad Verma and Mrs. Kumkum Verma (both based in Mumbai) and brother of Mrs. Tanvi Verma.
      </p>
  </div>
</div>
<div class="row contactSection">
</div>

