<div class="container-fluid contact-details">
  <div class="col-md-6">
    <h4><u>RSVP Details</u></h4>
    <p>We will be thrilled to have you over to join the festivies.</p>
    <p>CLICK <button class="btn btn-default"><a href="https://www.facebook.com/events/111809079350535/"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></button> to <strong>RSVP</strong> on Facebook</p>
    <p>Use the information on this page to reach out to us as well.</p>
    <br />
  </div>
  <div class="col-md-6">
    <h4><u>Contact Details</u></h4>
    <p>
      <strong>Name: {{ firstContact.name }}</strong><br /><strong>Email: </strong>{{ firstContact.email }}<br /><strong>Phone: </strong>{{ firstContact.phone }}<br /><br />
      <strong>Name: {{ secondContact.name }}</strong><br /><strong>Email: </strong>{{ secondContact.email }}<br /><strong>Phone: </strong>{{ secondContact.phone }}<br /><br />
      <strong>Name: {{ thirdContact.name }}</strong><br /><strong>Email: </strong>{{ thirdContact.email }}<br /><strong>Phone: </strong>{{ thirdContact.phone }}
    </p>
  </div>
</div>
<div class="row contactSection">
</div>

