<div class="container-fluid col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">RSVP Details</div>
    <div class="panel-body">
      <p>We will be thrilled to have you over to join the festivies.</p>
      <p>CLICK <button class="btn btn-default"><a href="https://www.facebook.com/events/111809079350535/"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></button> to <strong>RSVP</strong> on Facebook</p>
      <p>Use the information on this page to reach out to us as well.</p>
    </div>
  </div>

</div>
<div class="container-fluid col-md-4">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Contact Details</div>
    <div class="panel-body">
      <p><strong>Aprajita Shrivastav</strong><br /><strong>Email: </strong>aprajita.shrivastav@gmail.com<br /><strong>Phone: </strong>9619233496</p>
      <p><strong>Rahul Verma</strong><br /><strong>Email: </strong>rahul.uoa@gmail.com<br /><strong>Phone: </strong>9820655429</p>
      <p><strong>Nachiket Shrivastav</strong><br /><strong>Email: </strong>nachiket.shrivastav@gmail.com<br /><strong>Phone: </strong>9769087350</p>
    </div>
  </div>
</div>
<div class="container-fluid col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Questions or Feedback</div>
    <div class="panel-body">
      <form action="mailto:rahul.uoa@gmail.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name"><br><br>
        E-mail:<br>
        <input type="text" name="mail"><br><br>
        Comment:<br>
        <input type="text" name="comment" size="50%"><br><br>
        <input type="submit" class="btn btn-primary" value="Send">
        <input type="reset" class="btn btn-secondary" value="Reset">
      </form>
    </div>
  </div>
</div>
