<div class="container-fluid col-md-12">
  <blockquote class="blockquote">
    <p><em><strong>A long time ago in a galaxy far, far away....well to be honest not so far away</strong></em></p>
    <p>New Year was dawning upon the world. A young jedi decided to reach out to another using the force. It was the most sincere and honest request for introduction. The young Jedi Lady responded in kind using the force (again) and  her email to see Rebel spaceships, striking from a hidden base, have wontheir first victory against the evil Galactic Empire. During the battle, Rebel spies managed to steal secret plans to the Empire's ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet. Pursued by the Empire's sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy....</p>
  </blockquote>
    <p>We welcome you to witness two crazy but very similar souls tie the knot together at <a href="http://www.iskconmumbai.com/iskcon-juhu/">ISKON</a> at 6:00 pm</p>

</div>
