<div class="row">
  <div class="container col-md-6">
    <carousel>
      <slide>
        <img class="carousel-img" src="img/IMG_01.jpg" alt="First slide">
        <div class="carousel-caption">
          <p>
            <strong>What We Do</strong>
          </p>
          <p>
            Travel, Relax and Enjoy!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_02.jpg" alt="Second slide">
        <div class="carousel-caption">
          <p>
            <strong>Save the Date</strong>
          </p>
          <p>
            PS: Read as Save Me :(
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_03.jpg" alt="Third slide">
        <div class="carousel-caption">
          <p>
            <strong>No Can't Stay, Honey</strong>
          </p>
          <p>
            Flying Away till I got time!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_04.jpg" alt="Fourth slide">
        <div class="carousel-caption">
          <p>
            <strong>Kidnap him for life</strong>
          </p>
          <p>
            Locked and Loaded in the back of my trunk - Muah ha ha!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_05.jpg" alt="Fifth slide">
        <div class="carousel-caption">
          <p>
            <strong>Irony of Life</strong>
          </p>
          <p>
            What we do and what we wanna do
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_06.jpg" alt="Sixth slide">
        <div class="carousel-caption">
          <p>
            <strong>Everlasting Chemistry</strong>
          </p>
          <p>
            Romance is in the air
          </p>
        </div>
      </slide><slide>
        <img class="carousel-img" src="img/IMG_07.jpg" alt="Seventh slide">
        <div class="carousel-caption">
          <p>
            <strong>Agree to Disagree</strong>
          </p>
          <p>
            Disclaimers on the message
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_08.jpg" alt="Eight slide">
        <div class="carousel-caption">
          <p>
            <strong>Lovely Companions</strong>
          </p>
          <p>
            Can't get enough of each other
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_09.jpg" alt="Ninth slide">
        <div class="carousel-caption">
          <p>
            <strong>Trusting Gaze</strong>
          </p>
          <p>
            Natural partners in crime
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_10.jpg" alt="Tenth slide">
        <div class="carousel-caption">
          <p>
            <strong>Company for life</strong>
          </p>
          <p>
            On an endless Journey Together
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_11.jpg" alt="Eleventh slide">
        <div class="carousel-caption">
          <p>
            <strong>Crazy</strong>
          </p>
          <p>
            No Rules and only fun
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_12.jpg" alt="Twelfth slide">
        <div class="carousel-caption">
          <p>
            <strong>Kickass Romance</strong>
          </p>
          <p>
            Love is in the air
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_13.jpg" alt="Thirteenth slide">
        <div class="carousel-caption">
          <p>
            <strong>Santa's Blessings</strong>
          </p>
          <p>
            Somewhere very cold!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_14.jpg" alt="Fourteenth slide">
        <div class="carousel-caption">
          <p>
            <strong>Be Mindful</strong>
          </p>
          <p>
            We pull on each other :)
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_15.jpg" alt="Fifteenth slide">
        <div class="carousel-caption">
          <p>
            <strong>At Peace</strong>
          </p>
          <p>
            What more do you want in life?
          </p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="container-fluid col-md-6 ourStoryText">
    <h4><i>Her Words...</i></h4>
    <p>
      My dream came true when I met you :) Once again I believed in magic and the reason is you :)
    </p>
    <p>
      You + Me are birds of the same feather who flock together.
    </p>
    <p>
      You are the bundle of energy which keeps me going, my best friend for life and craziest partners in crime.
    </p>
    <p>
      With you I just don't breath but every moment takes my breath away.
      Everything that happened in my life has led me to you. It's taken forever but I'have finally found where I belong.
      These years have been amazing not only with immediate happiness but eternal joy for life. It was never an easy decision to spend my life with some one but it feel so easy when I think of you.
    </p>
    <p>
      I couldn't have asked for a better person to walk into my life than you.
    </p>
    <h4><i>His Words...</i></h4>
    <p style="font-size: 150%;">
      You KIDDING right? My Words? I can't have any. I totally agree with whatever she says...Now and Forever :p
    </p>
  </div>
</div>
