<div class="row">
  <div class="container col-md-6">
    <carousel>
      <slide>
        <img class="carousel-img" src="img/IMG_01.jpg" alt="First slide">
        <div class="carousel-caption">
          <p>
            <strong>What We Do</strong>
          </p>
          <p>
            Travel, Relax and Enjoy!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_02.jpg" alt="Second slide">
        <div class="carousel-caption">
          <p>
            <strong>Save the Date</strong>
          </p>
          <p>
            PS: Read as Save Me :(
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_03.jpg" alt="Third slide">
        <div class="carousel-caption">
          <p>
            <strong>No Can't Stay, Honey</strong>
          </p>
          <p>
            Flying Away till I got time!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_04.jpg" alt="Fourth slide">
        <div class="carousel-caption">
          <p>
            <strong>Kidnap him for life</strong>
          </p>
          <p>
            Locked and Loaded in the back of my trunk - Muah ha ha!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_05.jpg" alt="Fifth slide">
        <div class="carousel-caption">
          <p>
            <strong>Irony of Life</strong>
          </p>
          <p>
            What we do and what we wanna do
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_06.jpg" alt="Sixth slide">
        <div class="carousel-caption">
          <p>
            <strong>Everlasting Chemistry</strong>
          </p>
          <p>
            Romance is in the air
          </p>
        </div>
      </slide><slide>
        <img class="carousel-img" src="img/IMG_07.jpg" alt="Seventh slide">
        <div class="carousel-caption">
          <p>
            <strong>Agree to Disagree</strong>
          </p>
          <p>
            Disclaimers on the message
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_08.jpg" alt="Eight slide">
        <div class="carousel-caption">
          <p>
            <strong>Lovely Companions</strong>
          </p>
          <p>
            Can't get enough of each other
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_09.jpg" alt="Ninth slide">
        <div class="carousel-caption">
          <p>
            <strong>Trusting Gaze</strong>
          </p>
          <p>
            Natural partners in crime
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_10.jpg" alt="Tenth slide">
        <div class="carousel-caption">
          <p>
            <strong>Company for life</strong>
          </p>
          <p>
            On an endless Journey Together
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_11.jpg" alt="Eleventh slide">
        <div class="carousel-caption">
          <p>
            <strong>Crazy</strong>
          </p>
          <p>
            No Rules and only fun
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_12.jpg" alt="Twelfth slide">
        <div class="carousel-caption">
          <p>
            <strong>Kickass Romance</strong>
          </p>
          <p>
            Love is in the air
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_13.jpg" alt="Thirteenth slide">
        <div class="carousel-caption">
          <p>
            <strong>Santa's Blessings</strong>
          </p>
          <p>
            Somewhere very cold!!
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_14.jpg" alt="Fourteenth slide">
        <div class="carousel-caption">
          <p>
            <strong>Be Mindful</strong>
          </p>
          <p>
            We pull on each other :)
          </p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_15.jpg" alt="Fifteenth slide">
        <div class="carousel-caption">
          <p>
            <strong>At Peace</strong>
          </p>
          <p>
            What more do you want in life?
          </p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="container-fluid col-md-6">
    <h3>Our Story...</h3>
    <h4>Her Words</h4>
    <p>

    </p>
    <h4>His Words</h4>
    <p>

    </p>
  </div>
</div>
