<div class="row">
  <div class="container col-md-6">
    <carousel>
      <slide>
        <img class="carousel-img"src="img/IMG_01.png" alt="First slide">
        <div class="carousel-caption">
          <p><strong>Santa's Blessings</strong></p>
          <p>Somewhere very cold!!</p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_02.png" alt="Second slide">
        <div class="carousel-caption">
          <p><strong>Free Spirit!!</strong></p>
          <p>Every joy you can imagine</p>
        </div>
      </slide>
      <slide>
        <img class="carousel-img" src="img/IMG_03.png" alt="Third slide">
        <div class="carousel-caption">
          <p><strong>Trusting Gaze</strong></p>
          <p>Natural partners in crime</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="container-fluid col-md-6">
    <h3>Our Story...</h3>
    <p>
      <i>She</i> LOVES Shahrukh Khan (Bollywood Superstar) and <i>I</i> hates him. OMG!! How could we two ever get together?
    </p>
    <p>
      Well, here is how - it is the ONLY major thing that we disagree on and we are virtually the same person otherwise. We both ->
    </p>
    <ul class="bulletPoints">
        <li>disagree with the idea of marriage (and finally agreed only for our parents sake)</li>
        <li>wish to travel the world</li>
        <li>'Tension Nako' is our motto</li>
        <li>can never ever stop eating chicken</li>
        <li>went to the same school in Mumbai (but never were friends)</li>
      </ul>
    <p>
      the right question should be - How did we never get together?
    </p>
  </div>
</div>
